<%= render 'shared/form_errors', record: @post %>
<%= form_for [:admin, @post] do |f| %>
 <div class="form-group">
  <%= f.label :title %><br/>
  <%= f.text_field :title, class: "form-control" %>
  </div>
   <div class="form-group">
  <%= f.label :intro %><br/>
  <%= f.text_area :intro, class: "form-control" %>
  </div>
   <div class="form-group">
  <%= f.label :body %><br/>
  <%= f.text_area :body, rows: 15,  class: "form-control" %>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>