<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <h1 class="c-article__header"><%= @post.title %></h1>
    <hr class="c-article__rule" />
    <p class="c-article__intro" ><%= @post.intro %></p>
    <p class="c-article__body"><%= @post.body %></p>

    <div class="c-article__comments">
      <% @comments.each do |comment| %>
        <div class="card c-article__comment">
          <div class="card-header">
            <%= time_tag(comment.created_at) %>
          </div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">
              <%= comment.name %>
            </h6>
            <%= comment.body %>
          </div>
        </div>
      <% end %>
    </div>
    <% unless session[:userinfo].present? %>
      <p>If you would like to leave a comment, then please login</p>
      <a class="btn btn-success btn-lg" href="/auth/auth0">Login</a>
    <% end %>
    <%= render 'comments/form' if session[:userinfo].present? %>
  </div>
</div>